<div class="album text-muted">
  <div class="container">
    <div class="row">
      <% @portfolios.each do |portfolio| %>
      <div class="card">
        <%= image_tag portfolio.thumb_image if !portfolio.thumb_image.nil?%>
        <p class="card-text">
          <span><%= link_to portfolio.title, portfolio_show_path(portfolio) %></span> <%= portfolio.subtitle %>
        </p>
      </div>
      <% end %>
    </div>
     </div>
      </div>
