<footer class="blog-footer">
  <p>&copy; 2017 | <a href="https://getbootstrap.com">Abhi Mishra</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>
